***

## Artificial Neural Network ( ANN)

***

### Data Preprocessing

#### Importing libraries

In [1]:
import pandas as pd
import numpy as np 
import tensorflow as tf

#### Importing dataset

In [2]:
df = pd.read_csv("C:/Users/tze/OneDrive/ML_BOOTCAMP/Machine Learning A-Z (Codes and Datasets)/Part 8 - Deep Learning/Section 39 - Artificial Neural Networks (ANN)/Python/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

#### features extraction

In [3]:
X = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

#### Features encoding

#### - Label encoding "Gender"

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
X[:, 2] = encoder.fit_transform(X[:, 2])

#### - One Hot Encoder for 'Geograpy'

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
transf = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder = 'passthrough')
X = np.array(transf.fit_transform(X))

#### Splitting the dataset

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

#### Feature scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Building ANN

#### Initializing the ANN

ANNs are created with <code>Tensorflow</code> library, specially with the <code>Keras</code> class and his method <code>Sequential()</code>

In [8]:
ann = tf.keras.models.Sequential()

#### Adding input layers and first hidden layers

With the <code>add()</code> method of <code>tf.keras</code> we're able to build layers whatever it is: input layers, output layers and even hidden ones.<br>
Also building layer requires another tensorflow method taking as main hyperparameters the number of layers and the activation function.<br>
In most of case the number of input layers is equal to the number of independant variables and the number of output layers is equal to the number of class of the dependant variables.

In [9]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

#### Adding second hidden layer

In [10]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

#### Adding the output layer

In [11]:
ann.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

### Training the ANNs

#### Compiling the ANN

Here we are using binary cross-entropy as loss function because we're doing a binary classification.<br>
If we were doing non-binary classification we would use categorical cross-entropy as loss function.

Optimizer is an algorithm which update the NNs on purpose to upgrade weights and reduce loss function. Here we use the <code>adam optimizer</code> which is an adaptive optimise made by combination of others optimizers.

In [12]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

#### Fitting the model

In [13]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 50)

Epoch 1/50
Epoch 1/50
Epoch 1/50
Epoch 1/50
235/235 [==============================] - 3s 4ms/step - loss: 0.6683 - accuracy: 0.6099
235/235 [==============================] - 3s 4ms/step - loss: 0.6683 - accuracy: 0.6099
235/235 [==============================] - 3s 4ms/step - loss: 0.6683 - accuracy: 0.6099
235/235 [==============================] - 3s 4ms/step - loss: 0.6683 - accuracy: 0.6099
Epoch 2/50
Epoch 2/50
Epoch 2/50
Epoch 2/50
235/235 [==============================] - 1s 5ms/step - loss: 0.4845 - accuracy: 0.7949
235/235 [==============================] - 1s 5ms/step - loss: 0.4845 - accuracy: 0.7949
235/235 [==============================] - 1s 5ms/step - loss: 0.4845 - accuracy: 0.7949
235/235 [==============================] - 1s 5ms/step - loss: 0.4845 - accuracy: 0.7949
Epoch 3/50
Epoch 3/50
Epoch 3/50
Epoch 3/50
235/235 [==============================] - 1s 6ms/step - loss: 0.4444 - accuracy: 0.8045
235/235 [==============================] - 1s 6ms/step - loss: 0.4444 - accuracy: 0.8045
235/235 [==============================] - 1s 6ms/step - loss: 0.4444 - accuracy: 0.8045
235/235 [==============================] - 1s 6ms/step - loss: 0.4444 - accuracy: 0.8045
Epoch 4/50
Epoch 4/50
Epoch 4/50
Epoch 4/50
235/235 [==============================] - 2s 7ms/step - loss: 0.4234 - accuracy: 0.8151
235/235 [==============================] - 2s 7ms/step - loss: 0.4234 - accuracy: 0.8151
235/235 [==============================] - 2s 7ms/step - loss: 0.4234 - accuracy: 0.8151
235/235 [==============================] - 2s 7ms/step - loss: 0.4234 - accuracy: 0.8151
Epoch 5/50
Epoch 5/50
Epoch 5/50
Epoch 5/50
235/235 [==============================] - 2s 6ms/step - loss: 0.4093 - accuracy: 0.8257
235/235 [==============================] - 2s 6ms/step - loss: 0.4093 - accuracy: 0.8257
235/235 [==============================] - 2s 6ms/step - loss: 0.4093 - accuracy: 0.8257
235/235 [==============================] - 2s 6ms/step - loss: 0.4093 - accuracy: 0.8257
Epoch 6/50
Epoch 6/50
Epoch 6/50
Epoch 6/50
235/235 [==============================] - 1s 4ms/step - loss: 0.3975 - accuracy: 0.8320
235/235 [==============================] - 1s 4ms/step - loss: 0.3975 - accuracy: 0.8320
235/235 [==============================] - 1s 4ms/step - loss: 0.3975 - accuracy: 0.8320
235/235 [==============================] - 1s 4ms/step - loss: 0.3975 - accuracy: 0.8320
Epoch 7/50
Epoch 7/50
Epoch 7/50
Epoch 7/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3871 - accuracy: 0.8385
235/235 [==============================] - 1s 6ms/step - loss: 0.3871 - accuracy: 0.8385
235/235 [==============================] - 1s 6ms/step - loss: 0.3871 - accuracy: 0.8385
235/235 [==============================] - 1s 6ms/step - loss: 0.3871 - accuracy: 0.8385
Epoch 8/50
Epoch 8/50
Epoch 8/50
Epoch 8/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3784 - accuracy: 0.8415
235/235 [==============================] - 1s 5ms/step - loss: 0.3784 - accuracy: 0.8415
235/235 [==============================] - 1s 5ms/step - loss: 0.3784 - accuracy: 0.8415
235/235 [==============================] - 1s 5ms/step - loss: 0.3784 - accuracy: 0.8415
Epoch 9/50
Epoch 9/50
Epoch 9/50
Epoch 9/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3713 - accuracy: 0.8435
235/235 [==============================] - 1s 5ms/step - loss: 0.3713 - accuracy: 0.8435
235/235 [==============================] - 1s 5ms/step - loss: 0.3713 - accuracy: 0.8435
235/235 [==============================] - 1s 5ms/step - loss: 0.3713 - accuracy: 0.8435
Epoch 10/50
Epoch 10/50
Epoch 10/50
Epoch 10/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3660 - accuracy: 0.8447
235/235 [==============================] - 1s 5ms/step - loss: 0.3660 - accuracy: 0.8447
235/235 [==============================] - 1s 5ms/step - loss: 0.3660 - accuracy: 0.8447
235/235 [==============================] - 1s 5ms/step - loss: 0.3660 - accuracy: 0.8447
Epoch 11/50
Epoch 11/50
Epoch 11/50
Epoch 11/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3615 - accuracy: 0.8460
235/235 [==============================] - 1s 5ms/step - loss: 0.3615 - accuracy: 0.8460
235/235 [==============================] - 1s 5ms/step - loss: 0.3615 - accuracy: 0.8460
235/235 [==============================] - 1s 5ms/step - loss: 0.3615 - accuracy: 0.8460
Epoch 12/50
Epoch 12/50
Epoch 12/50
Epoch 12/50
235/235 [==============================] - 2s 7ms/step - loss: 0.3579 - accuracy: 0.8489
235/235 [==============================] - 2s 7ms/step - loss: 0.3579 - accuracy: 0.8489
235/235 [==============================] - 2s 7ms/step - loss: 0.3579 - accuracy: 0.8489
235/235 [==============================] - 2s 7ms/step - loss: 0.3579 - accuracy: 0.8489
Epoch 13/50
Epoch 13/50
  1/235 [..............................] - ETA: 3s - loss: 0.2529 - accuracy: 0.9062Epoch 13/50
  1/235 [..............................] - ETA: 3s - loss: 0.2529 - accuracy: 0.9062Epoch 13/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3547 - accuracy: 0.8507
235/235 [==============================] - 1s 5ms/step - loss: 0.3547 - accuracy: 0.8507
235/235 [==============================] - 1s 5ms/step - loss: 0.3547 - accuracy: 0.8507
235/235 [==============================] - 1s 5ms/step - loss: 0.3547 - accuracy: 0.8507
Epoch 14/50
Epoch 14/50
Epoch 14/50
Epoch 14/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3524 - accuracy: 0.8525
235/235 [==============================] - 1s 5ms/step - loss: 0.3524 - accuracy: 0.8525
235/235 [==============================] - 1s 5ms/step - loss: 0.3524 - accuracy: 0.8525
235/235 [==============================] - 1s 5ms/step - loss: 0.3524 - accuracy: 0.8525
Epoch 15/50
Epoch 15/50
Epoch 15/50
Epoch 15/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3496 - accuracy: 0.8539
235/235 [==============================] - 1s 6ms/step - loss: 0.3496 - accuracy: 0.8539
235/235 [==============================] - 1s 6ms/step - loss: 0.3496 - accuracy: 0.8539
235/235 [==============================] - 1s 6ms/step - loss: 0.3496 - accuracy: 0.8539
Epoch 16/50
Epoch 16/50
Epoch 16/50
  1/235 [..............................] - ETA: 2s - loss: 0.4117 - accuracy: 0.8438Epoch 16/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3482 - accuracy: 0.8565
235/235 [==============================] - 1s 5ms/step - loss: 0.3482 - accuracy: 0.8565
235/235 [==============================] - 1s 5ms/step - loss: 0.3482 - accuracy: 0.8565
235/235 [==============================] - 1s 5ms/step - loss: 0.3482 - accuracy: 0.8565
Epoch 17/50
Epoch 17/50
Epoch 17/50
Epoch 17/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3463 - accuracy: 0.8572
235/235 [==============================] - 1s 5ms/step - loss: 0.3463 - accuracy: 0.8572
235/235 [==============================] - 1s 5ms/step - loss: 0.3463 - accuracy: 0.8572
235/235 [==============================] - 1s 5ms/step - loss: 0.3463 - accuracy: 0.8572
Epoch 18/50
Epoch 18/50
Epoch 18/50
Epoch 18/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3456 - accuracy: 0.8580
235/235 [==============================] - 1s 5ms/step - loss: 0.3456 - accuracy: 0.8580
235/235 [==============================] - 1s 5ms/step - loss: 0.3456 - accuracy: 0.8580
235/235 [==============================] - 1s 5ms/step - loss: 0.3456 - accuracy: 0.8580
Epoch 19/50
Epoch 19/50
Epoch 19/50
Epoch 19/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3449 - accuracy: 0.8564
235/235 [==============================] - 1s 5ms/step - loss: 0.3449 - accuracy: 0.8564
235/235 [==============================] - 1s 5ms/step - loss: 0.3449 - accuracy: 0.8564
235/235 [==============================] - 1s 5ms/step - loss: 0.3449 - accuracy: 0.8564
Epoch 20/50
Epoch 20/50
Epoch 20/50
Epoch 20/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3441 - accuracy: 0.8571
235/235 [==============================] - 1s 5ms/step - loss: 0.3441 - accuracy: 0.8571
235/235 [==============================] - 1s 5ms/step - loss: 0.3441 - accuracy: 0.8571

235/235 [==============================] - 1s 5ms/step - loss: 0.3441 - accuracy: 0.8571
Epoch 21/50
Epoch 21/50
  1/235 [..............................] - ETA: 1s - loss: 0.4471 - accuracy: 0.8125Epoch 21/50
  1/235 [..............................] - ETA: 1s - loss: 0.4471 - accuracy: 0.8125Epoch 21/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3432 - accuracy: 0.8584
235/235 [==============================] - 1s 6ms/step - loss: 0.3432 - accuracy: 0.8584
235/235 [==============================] - 1s 6ms/step - loss: 0.3432 - accuracy: 0.8584
235/235 [==============================] - 1s 6ms/step - loss: 0.3432 - accuracy: 0.8584
Epoch 22/50
Epoch 22/50
Epoch 22/50
Epoch 22/50
235/235 [==============================] - 2s 6ms/step - loss: 0.3429 - accuracy: 0.8583
235/235 [==============================] - 2s 6ms/step - loss: 0.3429 - accuracy: 0.8583
235/235 [==============================] - 2s 6ms/step - loss: 0.3429 - accuracy: 0.8583
235/235 [==============================] - 2s 6ms/step - loss: 0.3429 - accuracy: 0.8583
Epoch 23/50
Epoch 23/50
Epoch 23/50
Epoch 23/50
235/235 [==============================] - 2s 7ms/step - loss: 0.3423 - accuracy: 0.8595
235/235 [==============================] - 2s 7ms/step - loss: 0.3423 - accuracy: 0.8595
235/235 [==============================] - 2s 7ms/step - loss: 0.3423 - accuracy: 0.8595
235/235 [==============================] - 2s 7ms/step - loss: 0.3423 - accuracy: 0.8595
Epoch 24/50
Epoch 24/50
Epoch 24/50
Epoch 24/50
235/235 [==============================] - 2s 7ms/step - loss: 0.3421 - accuracy: 0.8592
235/235 [==============================] - 2s 7ms/step - loss: 0.3421 - accuracy: 0.8592
235/235 [==============================] - 2s 7ms/step - loss: 0.3421 - accuracy: 0.8592
235/235 [==============================] - 2s 7ms/step - loss: 0.3421 - accuracy: 0.8592
Epoch 25/50
Epoch 25/50
Epoch 25/50
Epoch 25/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3417 - accuracy: 0.8589
235/235 [==============================] - 1s 6ms/step - loss: 0.3417 - accuracy: 0.8589
235/235 [==============================] - 1s 6ms/step - loss: 0.3417 - accuracy: 0.8589
235/235 [==============================] - 1s 6ms/step - loss: 0.3417 - accuracy: 0.8589
Epoch 26/50
Epoch 26/50
Epoch 26/50
Epoch 26/50
235/235 [==============================] - 2s 6ms/step - loss: 0.3409 - accuracy: 0.8603
235/235 [==============================] - 2s 6ms/step - loss: 0.3409 - accuracy: 0.8603
235/235 [==============================] - 2s 6ms/step - loss: 0.3409 - accuracy: 0.8603
235/235 [==============================] - 2s 6ms/step - loss: 0.3409 - accuracy: 0.8603
Epoch 27/50
Epoch 27/50
Epoch 27/50
Epoch 27/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3405 - accuracy: 0.8588
235/235 [==============================] - 1s 6ms/step - loss: 0.3405 - accuracy: 0.8588
235/235 [==============================] - 1s 6ms/step - loss: 0.3405 - accuracy: 0.8588
235/235 [==============================] - 1s 6ms/step - loss: 0.3405 - accuracy: 0.8588
Epoch 28/50
Epoch 28/50
Epoch 28/50
Epoch 28/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3403 - accuracy: 0.8593
235/235 [==============================] - 1s 5ms/step - loss: 0.3403 - accuracy: 0.8593
235/235 [==============================] - 1s 5ms/step - loss: 0.3403 - accuracy: 0.8593
235/235 [==============================] - 1s 5ms/step - loss: 0.3403 - accuracy: 0.8593
Epoch 29/50
Epoch 29/50
Epoch 29/50
Epoch 29/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3399 - accuracy: 0.8595
235/235 [==============================] - 1s 6ms/step - loss: 0.3399 - accuracy: 0.8595
235/235 [==============================] - 1s 6ms/step - loss: 0.3399 - accuracy: 0.8595
235/235 [==============================] - 1s 6ms/step - loss: 0.3399 - accuracy: 0.8595
Epoch 30/50
Epoch 30/50
Epoch 30/50
Epoch 30/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3398 - accuracy: 0.8613
235/235 [==============================] - 1s 6ms/step - loss: 0.3398 - accuracy: 0.8613
235/235 [==============================] - 1s 6ms/step - loss: 0.3398 - accuracy: 0.8613
235/235 [==============================] - 1s 6ms/step - loss: 0.3398 - accuracy: 0.8613
Epoch 31/50
Epoch 31/50
Epoch 31/50
Epoch 31/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3393 - accuracy: 0.8604
235/235 [==============================] - 1s 6ms/step - loss: 0.3393 - accuracy: 0.8604
235/235 [==============================] - 1s 6ms/step - loss: 0.3393 - accuracy: 0.8604
235/235 [==============================] - 1s 6ms/step - loss: 0.3393 - accuracy: 0.8604
Epoch 32/50
Epoch 32/50
Epoch 32/50
Epoch 32/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3390 - accuracy: 0.8607
235/235 [==============================] - 1s 5ms/step - loss: 0.3390 - accuracy: 0.8607
235/235 [==============================] - 1s 5ms/step - loss: 0.3390 - accuracy: 0.8607
235/235 [==============================] - 1s 5ms/step - loss: 0.3390 - accuracy: 0.8607
Epoch 33/50
Epoch 33/50
Epoch 33/50
Epoch 33/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3388 - accuracy: 0.8607
235/235 [==============================] - 1s 6ms/step - loss: 0.3388 - accuracy: 0.8607
235/235 [==============================] - 1s 6ms/step - loss: 0.3388 - accuracy: 0.8607
235/235 [==============================] - 1s 6ms/step - loss: 0.3388 - accuracy: 0.8607
Epoch 34/50
Epoch 34/50
Epoch 34/50
  1/235 [..............................] - ETA: 2s - loss: 0.1656 - accuracy: 0.9688Epoch 34/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3383 - accuracy: 0.8608
235/235 [==============================] - 1s 6ms/step - loss: 0.3383 - accuracy: 0.8608
235/235 [==============================] - 1s 6ms/step - loss: 0.3383 - accuracy: 0.8608
235/235 [==============================] - 1s 6ms/step - loss: 0.3383 - accuracy: 0.8608
Epoch 35/50
Epoch 35/50
Epoch 35/50
Epoch 35/50
235/235 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8621
235/235 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8621
235/235 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8621
235/235 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8621
Epoch 36/50
Epoch 36/50
Epoch 36/50
Epoch 36/50
235/235 [==============================] - 1s 5ms/step - loss: 0.3378 - accuracy: 0.8612
235/235 [==============================] - 1s 5ms/step - loss: 0.3378 - accuracy: 0.8612
235/235 [==============================] - 1s 5ms/step - loss: 0.3378 - accuracy: 0.8612
235/235 [==============================] - 1s 5ms/step - loss: 0.3378 - accuracy: 0.8612
Epoch 37/50
Epoch 37/50
Epoch 37/50
Epoch 37/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3381 - accuracy: 0.8616
235/235 [==============================] - 1s 6ms/step - loss: 0.3381 - accuracy: 0.8616
235/235 [==============================] - 1s 6ms/step - loss: 0.3381 - accuracy: 0.8616
235/235 [==============================] - 1s 6ms/step - loss: 0.3381 - accuracy: 0.8616
Epoch 38/50
Epoch 38/50
  1/235 [..............................] - ETA: 1s - loss: 0.4230 - accuracy: 0.8438Epoch 38/50
  1/235 [..............................] - ETA: 1s - loss: 0.4230 - accuracy: 0.8438Epoch 38/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3380 - accuracy: 0.8617
235/235 [==============================] - 1s 6ms/step - loss: 0.3380 - accuracy: 0.8617
235/235 [==============================] - 1s 6ms/step - loss: 0.3380 - accuracy: 0.8617
235/235 [==============================] - 1s 6ms/step - loss: 0.3380 - accuracy: 0.8617
Epoch 39/50
Epoch 39/50
Epoch 39/50
  1/235 [..............................] - ETA: 2s - loss: 0.3324 - accuracy: 0.9062Epoch 39/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3378 - accuracy: 0.8611
235/235 [==============================] - 1s 6ms/step - loss: 0.3378 - accuracy: 0.8611
235/235 [==============================] - 1s 6ms/step - loss: 0.3378 - accuracy: 0.8611
235/235 [==============================] - 1s 6ms/step - loss: 0.3378 - accuracy: 0.8611

Epoch 40/50
Epoch 40/50
Epoch 40/50
  1/235 [..............................] - ETA: 2s - loss: 0.2794 - accuracy: 0.8750Epoch 40/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3377 - accuracy: 0.8627
235/235 [==============================] - 1s 6ms/step - loss: 0.3377 - accuracy: 0.8627
235/235 [==============================] - 1s 6ms/step - loss: 0.3377 - accuracy: 0.8627
235/235 [==============================] - 1s 6ms/step - loss: 0.3377 - accuracy: 0.8627
Epoch 41/50
Epoch 41/50
Epoch 41/50
Epoch 41/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3373 - accuracy: 0.8620
235/235 [==============================] - 1s 6ms/step - loss: 0.3373 - accuracy: 0.8620
235/235 [==============================] - 1s 6ms/step - loss: 0.3373 - accuracy: 0.8620
235/235 [==============================] - 1s 6ms/step - loss: 0.3373 - accuracy: 0.8620
Epoch 42/50
Epoch 42/50
Epoch 42/50
Epoch 42/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3368 - accuracy: 0.8624
235/235 [==============================] - 1s 6ms/step - loss: 0.3368 - accuracy: 0.8624
235/235 [==============================] - 1s 6ms/step - loss: 0.3368 - accuracy: 0.8624
235/235 [==============================] - 1s 6ms/step - loss: 0.3368 - accuracy: 0.8624
Epoch 43/50
Epoch 43/50
Epoch 43/50
Epoch 43/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3370 - accuracy: 0.8605
235/235 [==============================] - 1s 6ms/step - loss: 0.3370 - accuracy: 0.8605
235/235 [==============================] - 1s 6ms/step - loss: 0.3370 - accuracy: 0.8605
235/235 [==============================] - 1s 6ms/step - loss: 0.3370 - accuracy: 0.8605
Epoch 44/50
Epoch 44/50
Epoch 44/50
Epoch 44/50
235/235 [==============================] - 2s 7ms/step - loss: 0.3366 - accuracy: 0.8609
235/235 [==============================] - 2s 7ms/step - loss: 0.3366 - accuracy: 0.8609
235/235 [==============================] - 2s 7ms/step - loss: 0.3366 - accuracy: 0.8609
235/235 [==============================] - 2s 7ms/step - loss: 0.3366 - accuracy: 0.8609
Epoch 45/50
Epoch 45/50
Epoch 45/50
Epoch 45/50
235/235 [==============================] - 2s 7ms/step - loss: 0.3364 - accuracy: 0.8615
235/235 [==============================] - 2s 7ms/step - loss: 0.3364 - accuracy: 0.8615
235/235 [==============================] - 2s 7ms/step - loss: 0.3364 - accuracy: 0.8615
235/235 [==============================] - 2s 7ms/step - loss: 0.3364 - accuracy: 0.8615
Epoch 46/50
Epoch 46/50
Epoch 46/50
Epoch 46/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8612
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8612
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8612
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8612
Epoch 47/50
Epoch 47/50
Epoch 47/50
Epoch 47/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8615
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8615
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8615
235/235 [==============================] - 1s 6ms/step - loss: 0.3364 - accuracy: 0.8615
Epoch 48/50
Epoch 48/50
Epoch 48/50
Epoch 48/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3361 - accuracy: 0.8616
235/235 [==============================] - 1s 6ms/step - loss: 0.3361 - accuracy: 0.8616
235/235 [==============================] - 1s 6ms/step - loss: 0.3361 - accuracy: 0.8616
235/235 [==============================] - 1s 6ms/step - loss: 0.3361 - accuracy: 0.8616
Epoch 49/50
Epoch 49/50
Epoch 49/50
Epoch 49/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3360 - accuracy: 0.8613
235/235 [==============================] - 1s 6ms/step - loss: 0.3360 - accuracy: 0.8613
235/235 [==============================] - 1s 6ms/step - loss: 0.3360 - accuracy: 0.8613
235/235 [==============================] - 1s 6ms/step - loss: 0.3360 - accuracy: 0.8613
Epoch 50/50
Epoch 50/50
Epoch 50/50
Epoch 50/50
235/235 [==============================] - 1s 6ms/step - loss: 0.3359 - accuracy: 0.8605
235/235 [==============================] - 1s 6ms/step - loss: 0.3359 - accuracy: 0.8605
235/235 [==============================] - 1s 6ms/step - loss: 0.3359 - accuracy: 0.8605
235/235 [==============================] - 1s 6ms/step - loss: 0.3359 - accuracy: 0.8605

### Prediction and Performance Evaluation

#### Predicting the test set

In [16]:
y_pred = ann.predict(X_test) > 0.5

79/79 [==============================] - 0s 3ms/step
79/79 [==============================] - 0s 3ms/step
79/79 [==============================] - 0s 3ms/step
79/79 [==============================] - 0s 3ms/step

#### Confusion Matrix

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score
matrix = confusion_matrix(y_test, y_pred)
score = accuracy_score(y_test, y_pred)
print(matrix)
score

[[1918   85]
 [ 248  249]]

0.8668

[[1918   85]
 [ 248  249]]

0.8668

[[1918   85]
 [ 248  249]]

0.8668

[[1918   85]
 [ 248  249]]

0.8668

#### Predicting Single value

In [23]:
ann.predict(sc.transform([[1.0, 0.0, 0.0, 600, 1, 40, 3, 60000.0, 2, 1, 1, 50000.0]])) > 0.5

1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 52ms/step
1/1 [==============================] - 0s 52ms/step

array([[False]])

array([[False]])

array([[False]])

array([[False]])