***

## Support Vector Machines

***

### üëâüèæ Data Preprocessing

#### ‚òëÔ∏èImporting libraries and dataset

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/HP Elitebook/OneDrive/Bureau/HOMEWORKS/PYTHON/ML_BOOTCAMP/Machine Learning A-Z (Codes and Datasets)/Part 3 - Classification/Section 16 - Support Vector Machine (SVM)/Python/Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

#### ‚òëÔ∏è Features Engineering

In [3]:
X = df.iloc[:, 0:-1].values
y = df.iloc[:, -1].values

In [4]:
from sklearn.model_selection import train_test_split as tts_
X_train, X_test, y_train, y_test = tts_(X, y, test_size = 0.25, random_state = 0)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### üëâüèæ Training SVM on the Training Set

In [6]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

### üëâüèæ Predictions and Model Evaluation

#### ‚òëÔ∏è Prediction

In [7]:
y_pred = classifier.predict(X_test)

#### ‚òëÔ∏è Model Evaluation

##### Accuracy Score and Confusion Matrix

In [14]:
from sklearn.metrics import accuracy_score as score, confusion_matrix as matrix
score_ = score(y_test, y_pred)
conf = matrix(y_test, y_pred)
score_, conf

(0.9,
 array([[66,  2],
        [ 8, 24]], dtype=int64))

##### Classification Report

In [13]:
from sklearn.metrics import classification_report as cr
print(cr(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.97      0.93        68
           1       0.92      0.75      0.83        32

    accuracy                           0.90       100
   macro avg       0.91      0.86      0.88       100
weighted avg       0.90      0.90      0.90       100

##### Comparison Table

In [9]:
dic = {'prediction': y_pred, 'Test': y_test}
tab = pd.DataFrame(dic)
tab

    prediction  Test
0            0     0
1            0     0
2            0     0
3            0     0
4            0     0
..         ...   ...
95           0     1
96           0     0
97           0     1
98           1     1
99           1     1

[100 rows x 2 columns]